.formContainer {
    width: 25%;
    margin: 25px 0 0 25px;
    position: relative;
}

.form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.label span {
    cursor: pointer;
}

.closeButton{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 0;
    font-size: 20px;
}

.closeButton:hover {
    font-weight: 700;
}